*
!*/
!*.lmp
!*.wad
!*.eps
!*.lua
!*.c
!*.cpp
!*.h
!*.hpp
!*.sh
!*.pbs
!*.py
!*.md
!LICENSE
!CMakeLists.txt
!.gitignore
!*.tex
!*.sty
!*.bib
!*.cu
!*.proto
!*.pc
!*.tgn
!*.cfg
build/*
!*.yaml
!build/*.sh
!build/*.py
experiments/*
!*._out
!experiments/download_models.sh
!conda_env.txt

